/* :root{
    --border( )
    --font( )
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100vh;
}
body {
	margin: 0;
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 60px;
	background-color: black;
}
header h1 {
	flex: 1 1 60px;
	background-color: aqua;
	text-align: center;
}

nav {
	background-color: darkblue;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

nav a {
	border: 1px solid white;
	text-decoration: none;
	color: teal;
	text-align: center;
}

aside div {
	background-color: blue;
	border: 1px solid white;
}

section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: grey;
	border: 1px dashed white;
}
section div {
	border: 1px solid white;
}
aside {
	flex: 1 0;
	/* TODO: at 768 px and above, change border-bottom to border-right */
	border-bottom: 4px solid blue;
	border-bottom-width: 10px;
	margin: 5%;
}
aside h2 {
	/* TODO: at 768 px and above, changes to text-align: right; */
	text-align: center;
}
article {
	flex: 3 0;
	padding: 10% 5%;
}
.mainContainer {
	display: flex;
	/* TODO: change flex direction to row when at 768px or higher */
	flex-direction: column;
	flex-wrap: wrap;
}

footer {
	display: block;
	background-color: grey;
	border: 1px dashed white;
}

.banner {
	display: flex;
	flex-direction: row;
	background-image: url(./keith-misner-h0Vxgz5tyXA-unsplash.jpg);
	background-size: cover;
	background-position: center;
	min-height: 200px;
	justify-content: end;
	align-items: flex-end;
}
.banner h1 {
	background-color: aqua;
	width: 40%;
	height: 25%;
	margin-bottom: 10px;
	margin-right: 10px;
}

@media screen and (min-width: 992px) {
	nav {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 768px) {
}
