/* :root{
    --border( )
    --font( )
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100vh;
}
body {
	margin: 0;
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 60px;
	background-color: black;
}
header h1 {
	flex: 1 1 60px;
	background-color: aqua;
	text-align: center;
}

nav {
	background-color: darkblue;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

nav a {
	border: 1px solid white;
	text-decoration: none;
	color: teal;
	text-align: center;
}

main {
	background-color: grey;
}

section {
	border: 1px dashed white;
}

aside {
	flex: 1 0;
	/* TODO: at 768 px and above, change border-bottom to border-right */
	border-bottom: 4px solid blue;
	border-bottom-width: 10px;
	margin: 5%;
}
aside h2 {
	/* TODO: at 768 px and above, changes to text-align: right; */
	text-align: center;
}
article {
	flex: 3 0;
	padding: 10% 5%;
}
.mainContainer {
	display: flex;
	/* TODO: change flex direction to row when at 768px or higher */
	flex-direction: column;
	flex-wrap: wrap;
}
.smallCard {
	display: flex;
	flex-flow: row wrap;
}
.smallCardRow {
	display: flex;
	flex-flow: row nowrap;
}
/* controls the container of the individual cards */
.workCard {
	width: 50%;
	position: relative;
	border: 2px dashed aqua;
}

.workCard img {
	width: 100%;
	height: auto;
	border: 4px solid aqua;
}
.pictureText {
	position: absolute;
	top: 20px;
	background-color: aqua;
	padding-left: 20px;
	padding-right: 20px;
}

#largeCard {
	flex: 2 1;
	position: relative;
	border: 4px dashed aqua;
}
#largeCard img {
	width: 100%;
	border: 4px solid aqua;
}
footer {
	display: block;
	background-color: grey;
	border: 1px dashed white;
}

.banner {
	display: flex;
	flex-direction: row;
	position: relative;
	background-image: url(./keith-misner-h0Vxgz5tyXA-unsplash.jpg);
	background-size: cover;
	background-position: center;
	min-height: 200px;
	justify-content: end;
	align-items: flex-end;
}
.bannerText {
	position: absolute;
	background-color: aqua;
	bottom: 10%;
	right: 10%;
	padding: 4px 6px;
}

@media screen and (min-width: 992px) {
	nav {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 768px) {
}
